body {
  background-color: grey;
  font-family: arial;
}

p {
  font-weight: lighter;
  font-style: italic;
  padding-top: 2px;
  padding-left: 30px;
  padding-bottom: 2px;
  margin-top: 2px;
}

li {
    font-weight: bold;
}

ol {
  margin:5px;
}

h1{
  padding-left: 10px;
  text-decoration: underline;
  margin-bottom: 5px;
}

.cat {
  font-family: helvetica;
  font-size: 12px;
  font-weight: lighter;
  font-style: italic;
  background-color: darkcyan;
  border-style: solid;
  border-color: white;
}

.dog{
  font-family: helvetica;
  font-style: italic;
  font-weight: lighter;
  font-size: 12px;
  background-color: crimson;
  border-style: solid;
  border-color:white;
}

.secondDiv{
  background-color: orange;
  padding: 50px 25px 10px 5px;
}

img{
  float:left;
  height: 50px;
  width: 50px;
  margin-left:0px;
}

h3{
  padding-left: 60px;
  padding-bottom: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}
